a.list-group-item {
    height:auto;
    min-height:220px;
    background-color: #286090 !important;
    border-color: #aed248;
} 

a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}