#contact_info_block{
    /*width:100%;margin:10px 0 20px;padding:0;float:left*/
    width:100%;margin:0;padding:0;float:left;
}
#contact_info_title{
    /*font-size:16px;line-height:28px;font-weight:700;color:#b19350;font-family:'Droid Serif',serif!important;text-align:center;width:100%;margin:0 0 10px;padding:0*/
    font-size:20px;line-height:28px;font-weight:700;color:#b19350;font-family:'Droid Serif',serif!important;text-align:center;width:100%;margin:0;padding:0;
}
#contact_info_text{
    /*font-size:13px;line-height:24px;color:#505050;font-family:'Droid Serif',serif!important;text-align:center;width:100%;margin:10px 0 0;padding:0*/
    font-size:16px;line-height:24px;color:#505050;font-family:'Droid Serif',serif!important;text-align:center;width:100%;margin:0;padding:0;
}
#contact_info{
    width:100%;margin:0;padding:30px 0 50px;background-color:#fff;
}
#contact_info_area{
    /*width:100%;margin:20px 0;padding:0*/
    width:100%;margin:0;padding:0;
}
#inner_title{
    /*width:100%;margin:0 0 20px;padding:0;font-size:24px;text-align:left;color:#b09250;font-family:'Playfair Display',serif!important*/
    width:100%;margin:0;padding:0;font-size:24px;text-align:left;color:#b09250;font-family:'Playfair Display',serif!important;
}
.site{
    padding:0;
}
.my-legend{
    font-size:26px;font-weight:bolder;text-align:center;width:100%;
}
.my-social-icon:hover{
    height: 60px;
    webkit-transition: width 500ms, height 500ms;  /*Safari*/
    transition: width 500ms, height 500ms ;

}
.my-footer-link{
    color:black;
}

.my-footer-link:hover{
    color:red;
}

