<div class="container">
    <div ng-if='ctrl.user' class="search">
        <div class="container">
            <div class="row">
                <h2>My Upcoming Events</h2>
                <div class="col-md-10 col-md-offset-3">
                    <div class="form-section">
                        <div class="row">
                            <form role="form">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="serchtile">Event name</div>
                                        <label class="sr-only" for="looking">Event Name</label>
                                        <input id="event-search" type="text" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="serchtile">Event Date</div>
                                        <label class="sr-only" for="age">Event Date</label>
                                        <div class="input-group">
                                            <select id="age" name="age" class="form-control">
      <option value="1">Today</option>
      <option value="2">Tommorrow</option>
      <option value="3">This Week</option>
      <option value="4">Next Week</option>
      <option value="5">Other</option>


  
    </select> </div>
                                    </div>
                                </div>

                                <!--<div class="col-md-2">
                        <div class="form-group">
                            <div class="serchtile">Religion</div>
                          <label class="sr-only" for="religion">Religion</label>
                           <select id="religion" name="religion" class="form-control">
      <option value="buddhist">Buddhist</option>
    </select>
                        </div>
                      </div>-->
                                <div class="col-md-2">
                                    <br>
                                    <button type="submit" class="btn btn-default btn-primary">Search</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













<!--<div class="js-search-bar search-bar-container l-pad-vert-2 l-pad-bot-3 g-group">
            <form action="/d/" method="GET" class="consumer-search-bar l-mar-top-4 responsive-form org-consumer-search-input">
                <div class="g-cell--has-overflow search-bar-component">
                    <div class="autocomplete-component">
                        <label class="is-hidden-accessible" for="consumer-header-event-search">
                            Search events or categories
                        </label>
                        <input id="consumer-header-event-search" name="q" type="text" class="js-query-input ui-autocomplete-input" placeholder="Search events or categories" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-autocomplete="list" role="textbox" aria-haspopup="true">
                    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; display: none;"></ul></div>
                </div>
                <div class="show-large g-cell--has-overflow autocomplete-component search-bar-component">
                    <label class="is-hidden-accessible" for="consumer-header-event-location">Enter city or location</label>
                    <input id="consumer-header-event-location" name="loc" type="text" class="js-location-input ui-autocomplete-input" placeholder="City or location" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="Singapore, Singapore" aria-autocomplete="list" role="textbox" aria-haspopup="true">
                <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; display: none;"></ul></div>
                <div class="hide-small g-cell--no-gutters search-dropdown search-bar-component">
                <label class="is-hidden-accessible" for="consumer-header-date-range">Select a date range</label>
                    <div class="responsive-form__select custom-select-container clrfix"><span class="custom-select-value">All Dates</span>
<div class="custom-select-arrow"></div>
<select id="consumer-header-date-range" name="date" class="js-d-select-box" dorsal-guid="dd26038f-6237-1601-7755-5e829a03aec5" data-xd-wired="select-box">
                        <option value="" selected="selected">All Dates</option>
                        <option value="today">Today</option>
                        <option value="tomorrow">Tomorrow</option>
                        <option value="this_week">This Week</option>
                        <option value="this_weekend">This Weekend</option>
                        <option value="next_week">Next Week</option>
                        <option value="next_month">Next Month</option>
                    </select></div>
                </div>
                <div class="search-bar-component">
                    <input type="submit" class="js-home-search-btn btn btn--brite btn--block hide-small js-xd-janus-checkpoint-link" value="Search" data-checkpoint-name="homepage_search_submitted">
                    <input type="submit" class="js-home-search-btn btn btn--brite btn--block show-small js-xd-janus-checkpoint-link" value="" alt="Search" data-checkpoint-name="homepage_search_submitted" aria-label="Search">
                </div>
            </form>
        </div>-->

<br>

<div class="container">
    <div class="row">
        <div ng-if='ctrl.user' class="well">
            <h1 class="text-center">Upcoming Events</h1>
            <div class="list-group">
                <div ng-repeat="events in ctrl.event">
                  <a href="#" class="list-group-item active">  
                    <div class="media col-md-3">
                        <h4 class="list-group-item-heading"> </h4>
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="{{events.path}}" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> </h4>
                        <h4 class="list-group-item-heading"> {{events.brief_desc}} </h4>
                        <p class="list-group-item-text"> Date: {{events.events[0].start_date}}</p>
                        <p class="list-group-item-text"> Time: {{events.events[0].start_time}} - {{events.events[0].end_time}}</p>
                        <p class="list-group-item-text"> Venue: {{events.events[0].venue}}</p>
                        <p class="list-group-item-text"> Organizer: {{events.organization}}</p>
                        <p class="list-group-item-text"> Important Note: </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2 class={{ctrl.myrole}}> <small> Role:  </small> {{events.role}} </h2>
                        <button type="button" class="btn btn-default btn-lg btn-block"> Details </button>
                    </div>
                </a>
                <br>
                <br>
                <br>
                </div>
            </div>
        </div>
    </div>
</div>