<div class="container">
    <div ng-if='ctrl.user' class="search">
        <div class="container">
            <div class="row">
                <h2>My Event Participation</h2>
                <div class="col-md-10 col-md-offset-3">
                    <div class="form-section">
                        <div class="row">
                            <form role="form">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="serchtile">Event name</div>
                                        <label class="sr-only" for="looking">Event Name</label>
                                        <input id="event-search" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="serchtile">Event Date</div>
                                        <label class="sr-only" for="age">Event Date</label>
                                        <div class="input-group">
                                            <select id="age" name="age" class="form-control">
                                                <option value="1">Today</option>
                                                <option value="2">Tommorrow</option>
                                                <option value="3">This Week</option>
                                                <option value="4">Next Week</option>
                                                <option value="5">Other</option>


  
                                            </select> </div>
                                    </div>
                                </div>

                                <!-- <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="serchtile">Religion</div>
                                        <label class="sr-only" for="religion">Religion</label>
                                        <select id="religion" name="religion" class="form-control">
                                            <option value="buddhist">Buddhist</option>
                                        s</select>
                                    </div>
                                </div> -->
                                <div class="col-md-2">
                                    <br>
                                    <button type="submit" class="btn btn-default btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div ng-if="ctrl.user" class="well">
            <h1 class="text-center">Participated Events</h1>
            <div class="col-md-2">
            <!-- Centralise the list box. Leave 2 column of space for desktop or larger size display -->
            </div>
            <div class="list-group col-md-8 col-xs-12">
                <div ng-repeat="events in ctrl.event">
                    <a href="#" class="list-group-item active">
                        <div class="media">
                            <h4 class="list-group-item-heading"> </h4>
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="{{events.path}}" alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div>
                            <h4 class="list-group-item-heading"> </h4>
                            <h4 class="list-group-item-heading"> {{events.brief_desc}} </h4>
                            <p class="list-group-item-text"> Date: {{events.event.start_date}}</p>
                            <p class="list-group-item-text"> Time: {{events.event.start_time}} - {{events.event.end_time}}</p>
                            <p class="list-group-item-text"> Venue: {{events.event.venue}}</p>
                            <p class="list-group-item-text"> Organizer: {{events.organization}}</p>
                            <p class="list-group-item-text"> Important Note: </p>
                        </div>
                        <div class="text-center">
                            <h2 class={{events.myrole}}> <small> Role:  </small> {{events.role}} </h2>
                            <button type="button" class="btn btn-default btn-lg btn-block btn-info"> Details </button>
                        </div>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
