
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1>User Registration</h1>
						<p><i>Already have an account? <a ui-sref="login" ui-sref-active="active">Login</a></i></p>
                        <!-- <p><i>Already have an account? <a href="app/login/login.html">Login</a></i></p> -->
					</div>

					<div class="panel-body">
						<!-- <form accept-charset="UTF-8" role="form"> -->
						<form name="regForm" ng-submit="ctrl.register()" autocomplete="off" novalidate>
							<fieldset>
								<div class="form-group">
									<label for="salutation-id">Salutation</label> <br>
                                        <form id="salutation-id" class="form-control" name="salutation" ng-model="ctrl.user.salutation" required>
                                            <label><input type="radio" name="salutation" value="dr" style="margin-right: 0.5em; margin-left:0"> Dr </label>
                                            <label><input type="radio" name="salutation" value="mr" style="margin-right: 0.5em; margin-left: 2em"> Mr </label>
                                            <label><input type="radio" name="salutation" value="ms" style="margin-right: 0.5em; margin-left: 2em"> Ms </label>
                                        </form>  
								</div>
                                <!--Input field for Surname-->
                                <div class="form-group">
                                    <label for="surname-id">Surname:</label>
                                    <!--1. Using the ng-model directive, we perform a 2-way data binding between the department input field and
                                    he ctrl.department.id data model. By doing so, we automatically sync the view data and the data
                                    model data
                                    2. The required property tells HTML5 that the input field is mandatory. type="number" specifies that a
                                    numerical value is expected-->
                                    <input type="text" id="surname-id" name="surname" class="form-control" ng-model="ctrl.user.surname" required>

                                    <!-- 1. help-block is a bootstrap class that allows for better formatting of help texts
                                    2. ng-message directive hides or shows message based on value of expression, i.e., if regForm.deptNo.$error
                                    evaluates to true then error message is shown
                                    3. $touched is a boolean that indicates whether or not field has been touched (visited)-->
                                    <span class="help-block" ng-messages="regForm.surname-id.$error" ng-if="regForm.surname-id.$invalid && regForm.surname-id.$dirty">
                                        <p ng-message="required">Surname (i.e., Family Name) is Required</p>
                                    </span>
                                </div>

                                <!--Input field for Given name-->
                                <div class="form-group">

                                    <label for="givenName-id">Given Name:</label>
                                    <!--1. Using the ng-model directive, we perform a 2-way data binding between the department input field and
                                    he ctrl.department.id data model. By doing so, we automatically sync the view data and the data
                                    model data
                                    2. The required property tells HTML5 that the input field is mandatory. type="number" specifies that a
                                    numerical value is expected-->
                                    <input type="text" id="givenName-id" name="givenName" class="form-control" ng-model="ctrl.user.givenName" required>

                                    <!-- 1. help-block is a bootstrap class that allows for better formatting of help texts
                                    2. ng-message directive hides or shows message based on value of expression, i.e., if regForm.deptNo.$error
                                    evaluates to true then error message is shown
                                    3. $touched is a boolean that indicates whether or not field has been touched (visited)-->
                                    <div class="help-block" ng-messages="regForm.givenName-id.$error" ng-if="regForm.givenName-id.$touched">
                                        <p ng-message="required">Given Name is Required</p>
                                    </div>
                                </div>

                                <!--Input field for Given name-->
                                <div class="form-group">

                                    <label for="nric-id">NRIC:</label>
                                    <!--1. Using the ng-model directive, we perform a 2-way data binding between the department input field and
                                    he ctrl.department.id data model. By doing so, we automatically sync the view data and the data
                                    model data
                                    2. The required property tells HTML5 that the input field is mandatory. type="number" specifies that a
                                    numerical value is expected-->
                                    <input type="text" id="nric-id" name="nric" class="form-control" ng-model="ctrl.user.nric" required>

                                    <!-- 1. help-block is a bootstrap class that allows for better formatting of help texts
                                    2. ng-message directive hides or shows message based on value of expression, i.e., if regForm.deptNo.$error
                                    evaluates to true then error message is shown
                                    3. $touched is a boolean that indicates whether or not field has been touched (visited)-->
                                    <div class="help-block" ng-messages="regForm.nric-id.$error" ng-if="regForm.nric-id.$touched">
                                        <p ng-message="required">NRIC or FIN</p>
                                    </div>
                                </div>

                                <!--Input field for Contact Number-->
                                <div class="form-group">
                                    <label for="contactNumber-id">Contact Number</label>
                                    <input id="contactNumber-id" class="form-control" name="contactNumber" type="text" required minlength="8" ng-pattern="/^[0-9+( )-]*$/"
                                        ng-model="ctrl.user.contactNumber">

                                    <!-- <div class="validation"  data-ng-show="regForm.contactNumber-id.$touched || regForm.$submitted">
                                        <div data-ng-show="regForm.contactNumber-id.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Contact Number is required.
                                        </div>
                                        <div data-ng-show="regForm.contactNumber-id.$error.minlength">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Contact Number must be at least 8 digits long.
                                        </div>
                                        <div data-ng-show="regForm.contactNumber-id.$error.pattern">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Contact Number contains invalid characters.
                                        </div>
                                    </div> -->
                                </div>

                                <!--Input field for Date of Birth-->
                                <div class="form-group">
                                    <label for="dateOfBirth-id">Date of Birth</label>
                                    <input id="dateOfBirth-id" class="form-control" name="dateOfBirth" type="date" required ng-model="ctrl.user.dateOfBirth"
                                    />

                                    <!-- <div class="validation" data-ng-show="regForm.dateOfBirth-id.$touched || regForm.$submitted">
                                        <div data-ng-show="regForm.dateOfBirth-id.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Date of Birth is required.
                                        </div>
                                        <div data-ng-show="regForm.dateOfBirth-id.$invalid">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Invalid Date.
                                        </div>
                                        <div data-ng-hide="ctrl.isAgeValid()">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            You must be at least 18 years to register.
                                        </div>
                                    </div> -->
                                </div>

                                <div class="form-group">
                                    <div class="radioi-inline">
                                        <span>   
                                            <label for="gender-id"><b>Gender &nbsp</b></label>
                                            <br>
                                            <label>
                                            <input type="radio" name="gender" id="gender-id" ng-model="ctrl.user.gender" 
                                                    value='M' checked="checked" required>
                                                Male &nbsp
                                            </label>

                                            <label>
                                            <input type="radio" name="gender" id="gender-id" ng-model="ctrl.user.gender" 
                                                    value='F' required>
                                                Female
                                            </label>   
                                        </span> 
                                    </div>
                                </div>

						<hr>

                                <!--Input field for Email-->
                                <div class="form-group">
                                    <label for="email-id">Email</label>
                                    <input id="email-id" class="form-control" placeholder="yourmail@example.com" name="email" type="email" required ng-model="ctrl.user.email">
                                    <!-- <div class="validation" data-ng-show="regForm.email-id.$touched || regForm.$submitted">
                                        <div data-ng-show="regForm.email-id.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Email is mandatory.
                                        </div>
                                        <div data-ng-show="regForm.email-id.$error">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Email is invalid.
                                        </div>
                                    </div> -->
                                </div>

                                <!--Input field for Password-->
                                <div class="form-group">
                                    <label for="psw-id">Password</label>
                                    <input id="psw-id" class="form-control" name="password" type="password" pattern="[A-Za-z0-9@#$]+"
                                        ng-model="ctrl.user.password" required>
                                        <!-- minlength="8" -->
                                    <!-- ng-pattern ="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" -->

                                    <!-- <div class="validation"  data-ng-show="regForm.psw-id.$touched || regForm.$submitted">
                                        <div data-ng-show="regForm.psw-id.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Password is required.
                                        </div>
                                        <div data-ng-show="regForm.psw-id.$error.minlength">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Password must be at least 8 characters long.
                                        </div>
                                        <div data-ng-show="regForm.psw-id.$error.pattern">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            Password must include a number, a special character (@, #, $), and both upper and lower cases.
                                        </div> -->
                                </div>

                                <div class="form-group">
                                    <label for="psw-confirm-id">Confirm Password</label>
                                    <input id="psw-confirm-id" class="form-control" name="confirmPassword" type="password" pattern="[A-Za-z0-9@#$]+"
                                        ng-model="ctrl.confirmPassword" required>

                                    <!-- <div class="validation"  data-ng-show="regForm.psw-confirm-id.$touched || regForm.$submitted">
                                    <div data-ng-show="regForm.psw-confirm-id.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span>
                                        Confirm Password is required.
                                    </div>
                                    <div data-ng-show="ctrl.user.password != ctrl.confirmPassword">
                                        <span class="glyphicon glyphicon-alert"></span>
                                        Passwords do not match
                                    </div> -->
                                </div>


                        <hr>					
								<!-- <input type="button" class="btn btn-lg btn-success btn-block" ng-click="ctrl.login()" value="Login"> -->
		    					<div class="form-group">
      								<button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
    							</div>
							</fieldset>
						</form>

            			<div ng-if='ctrl.msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>