<!--TODO: Add ability to choose manager when registering a department. An existing manager shouldn't be
TODO: allowed on the list. Saving of department in departments table and of manager in dept_managers table should be 1
TODO: transaction (i.e., atomic) -->
<!-- TODO: 1. Allow users to choose a manager from a list of employees -->

<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the RegCtrl is given the scope of the <div> element where it is called-->
<!--We then use RegCtrl (as ctrl) to manipulate elements within this <div>-->
<!--<div ng-controller="RegCtrl as ctrl">-->
<div class="container">
    
    <div class="page-header">
        <div class="col-md-6 col-md-offset-3">
        <h1>User Sign up</h1>
        <h3><i>Already have an account? <a href="app/login/login.html">Login</a></i></h3>
    </div>
    <br/>


    <!-- Creates Input Form and fields -->
    <!--1. The ng-submit directive specifies the function called when the Register button is clicked or ENTER is
    pressed
    2. novalidate is an HTML5 boolean property that tells HTML5 to ignore validation constraints (i.e., do not
    perform validation) when form is submitted-->
    <form name="regForm" novalidate="" ng-submit="regForm.$valid && ctrl.register()" autocomplete="off">
    <div class="col-md-6 col-md-offset-3">
        <!--Dropdown selection for salutation-->
        <div class="form-group">
            <label for="salutation">Salutation</label>
            <select id="salutation"
                    class="form-control"
                    name="salutation"
                    ng-model="ctrl.user.salutation" required>
                <option value="" selected>-- Please select an option --</option>
                <option value="dr">Dr</option>
                <option value="mr">Mr</option>
                <option value="ms">Ms</option>
            </select>

            <div class="validation" data-ng-show="regForm.salutation.$touched || regForm.$submitted">
                <div data-ng-show="regForm.salutation.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Salutation is required.
                </div>
            </div>
        </div>




        <!--Input field for Surname-->
        <div class="form-group" ng-class="{ 'has-error': regForm.surname.$invalid && regForm.surname.$dirty }">
            <label for="surname">Surname:</label>
            <!--1. Using the ng-model directive, we perform a 2-way data binding between the department input field and
            he ctrl.department.id data model. By doing so, we automatically sync the view data and the data
            model data
            2. The required property tells HTML5 that the input field is mandatory. type="number" specifies that a
            numerical value is expected-->
            <input type="text" id="surname" name="surname"
                   class="form-control"
                   ng-model="ctrl.user.surname"
                   required>

            <!-- 1. help-block is a bootstrap class that allows for better formatting of help texts
            2. ng-message directive hides or shows message based on value of expression, i.e., if regForm.deptNo.$error
            evaluates to true then error message is shown
            3. $touched is a boolean that indicates whether or not field has been touched (visited)-->
            <span class="help-block" ng-messages="regForm.surname.$error" ng-if="regForm.surname.$invalid && regForm.surname.$dirty">
                <p ng-message="required">Surname (i.e., Family Name) is Required</p>
            </span>
        </div>


        <!--Input field for Given name-->
        <div class="form-group">

            <label for="givenName">Given Name:</label>
            <!--1. Using the ng-model directive, we perform a 2-way data binding between the department input field and
            he ctrl.department.id data model. By doing so, we automatically sync the view data and the data
            model data
            2. The required property tells HTML5 that the input field is mandatory. type="number" specifies that a
            numerical value is expected-->
            <input type="text" id="givenName" name="givenName"
                   class="form-control"
                   ng-model="ctrl.user.givenName.id"
                   required>

            <!-- 1. help-block is a bootstrap class that allows for better formatting of help texts
            2. ng-message directive hides or shows message based on value of expression, i.e., if regForm.deptNo.$error
            evaluates to true then error message is shown
            3. $touched is a boolean that indicates whether or not field has been touched (visited)-->
            <div class="help-block" ng-messages="regForm.givenName.$error" ng-if="regForm.givenName.$touched">
                <p ng-message="required">Given Name is Required</p>
            </div>
        </div>

        <!--Input field for Contact Number-->
        <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input id="contactNumber"
                   class="form-control"
                   name="contactNumber"
                   type="text"
                   required
                   minlength="8"
                   ng-pattern="/^[0-9+( )-]*$/"
                   ng-model="ctrl.user.contactNumber"/>

            <div class="validation"  data-ng-show="regForm.contactNumber.$touched || regForm.$submitted">
                <div data-ng-show="regForm.contactNumber.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number is required.
                </div>
                <div data-ng-show="regForm.contactNumber.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number must be at least 8 digits long.
                </div>
                <div data-ng-show="regForm.contactNumber.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number contains invalid characters.
                </div>
            </div>
        </div>


        <!--Input field for Date of Birth-->
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input id="dateOfBirth"
                   class="form-control"
                   name="dateOfBirth"
                   type="date"
                   required
                   ng-model="ctrl.user.dateOfBirth"/>

            <div class="validation" data-ng-show="regForm.dateOfBirth.$touched || regForm.$submitted">
                <div data-ng-show="regForm.dateOfBirth.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Date of Birth is required.
                </div>
                <div data-ng-show="regForm.dateOfBirth.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid Date.
                </div>
                <div data-ng-hide="ctrl.isAgeValid()">
                    <span class="glyphicon glyphicon-alert"></span>
                    You must be at least 18 years to register.
                </div>
            </div>
        </div>


        <!--Input field for Email-->
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email"
                   class="form-control"
                   placeholder="your@email.com"
                   name="email"
                   type="email"
                   required
                   ng-model="ctrl.user.email"/>
            <div class="validation" data-ng-show="regForm.email.$touched || regForm.$submitted">
                <div data-ng-show="regForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is mandatory.
                </div>
                <div data-ng-show="regForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is invalid.
                </div>
            </div>
        </div>

        <!--Input field for Password-->
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password"
                   class="form-control"
                   name="password"
                   type="password"
                   required
                   minlength="8"
				   ng-pattern ="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                   ng-model="ctrl.user.password"/>

            <div class="validation"  data-ng-show="regForm.password.$touched || regForm.$submitted">
                <div data-ng-show="regForm.password.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password is required.
                </div>
                <div data-ng-show="regForm.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password must be at least 8 characters long.
                </div>
				<div data-ng-show="regForm.password.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password must include a number, a special character (@, #, $), and both upper and lower cases.
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword"
                   class="form-control"
                   name="confirmPassword"
                   type="password"
                   required
                   ng-model="ctrl.user.confirmPassword"/>

            <div class="validation"  data-ng-show="regForm.confirmPassword.$touched || regForm.$submitted">
                <div data-ng-show="regForm.confirmPassword.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Confirm Password is required.
                </div>
                <div data-ng-show="ctrl.user.password != ctrl.user.confirmPassword">
                    <span class="glyphicon glyphicon-alert"></span>
                    Passwords do not match
                </div>
            </div>
        </div>



        <!-- Creates button used to submit data -->
        <div class="form-group">

            <!--1. The <button> type attribute specifies the behavior of the button. A button with type=submit submits
            form data to the server
            2. The ng-disabled directive specifies whether to enable or disable an HTML element based on the value
            of the expression it's evaluating-->
            <button type="submit"
                    class="btn-success form-control"
                    ng-disabled="regForm.$invalid">
                Register
            </button>

        </div>
        </div>
    </form>

  </div>
</div>