<div class="panel panel-default">
    <div class="panel-body">
        <!-- <h4 ng-if='!ctrl.user'>Please <a ui-sref='login'>login</a> first.</h4> -->
        <h3 ng-if='ctrl.user'>Welcome back, {{ctrl.name | uppercase}}!</h3>
        <br>
        <div>
            <div class="container">

                <div class="row">
                    <!--<div class="item-img">-->
                    <!--<div class="img-thumbnail img-responsive">-->
                    <!--<div class="img-thumbnail">-->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart01.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[0].brief_desc}}</h3>
                                <p>{{ctrl.event[0].detail_desc}}</p>
                                <p>{{ctrl.event[0].start_date}} </p>
                                <p>{{ctrl.event[0].start_time}} - {{ctrl.event[0].end_time}} </p>
                                <p>{{ctrl.event[0].venue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart02.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[1].brief_desc}}</h3>
                                <p>{{ctrl.event[1].detail_desc}}</p>
                                <p>{{ctrl.event[1].start_date}} </p>
                                <p>{{ctrl.event[1].start_time}} - {{ctrl.event[1].end_time}} </p>
                                <p>{{ctrl.event[1].venue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart03.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[2].brief_desc}}</h3>
                                <p>{{ctrl.event[2].detail_desc}}</p>
                                <p>{{ctrl.event[2].start_date}} </p>
                                <p>{{ctrl.event[2].start_time}} - {{ctrl.event[2].end_time}} </p>
                                <p>{{ctrl.event[2].venue}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart04.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[3].brief_desc}}</h3>
                                <p>{{ctrl.event[3].detail_desc}}</p>
                                <p>{{ctrl.event[3].start_date}} </p>
                                <p>{{ctrl.event[3].start_time}} - {{ctrl.event[3].end_time}} </p>
                                <p>{{ctrl.event[3].venue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart05.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[4].brief_desc}}</h3>
                                <p>{{ctrl.event[4].detail_desc}}</p>
                                <p>{{ctrl.event[4].start_date}} </p>
                                <p>{{ctrl.event[4].start_time}} - {{ctrl.event[4].end_time}} </p>
                                <p>{{ctrl.event[4].venue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart06.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[5].brief_desc}}</h3>
                                <p>{{ctrl.event[5].detail_desc}}</p>
                                <p>{{ctrl.event[5].start_date}} </p>
                                <p>{{ctrl.event[5].start_time}} - {{ctrl.event[5].end_time}} </p>
                                <p>{{ctrl.event[5].venue}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                             <div class="thumbnail" style="height:550px"> 
                                <img src="../../assets/img/UHeart07.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[6].brief_desc}}</h3>
                                <p>{{ctrl.event[6].detail_desc}}</p>
                                <p>{{ctrl.event[6].start_date}} </p>
                                <p>{{ctrl.event[6].start_time}} - {{ctrl.event[6].end_time}} </p>
                                <p>{{ctrl.event[6].venue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart08.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[7].brief_desc}}</h3>
                                <p>{{ctrl.event[7].detail_desc}}</p>
                                <p>{{ctrl.event[7].start_date}} </p>
                                <p>{{ctrl.event[7].start_time}} - {{ctrl.event[7].end_time}} </p>
                                <p>{{ctrl.event[7].venue}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="thumbnail" style="height:550px">
                                <img src="../../assets/img/UHeart09.jpg">
                                <h3 class="pad-bt15">{{ctrl.event[8].brief_desc}}</h3>
                                <p>{{ctrl.event[8].detail_desc}}</p>
                                <p>{{ctrl.event[8].start_date}} </p>
                                <p>{{ctrl.event[8].start_time}} - {{ctrl.event[8].end_time}} </p>
                                <p>{{ctrl.event[8].venue}}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="text-center">
                    <ul class="pagination pagination-large">
                        <li class="disabled"><span>&laquo;</span></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="http://bootsnipp.com?page=2">2</a></li>
                        <li><a href="http://bootsnipp.com?page=3">3</a></li>
                        <li><a href="http://bootsnipp.com?page=4">4</a></li>
                        <li><a href="http://bootsnipp.com?page=5">5</a></li>
                        <li><a href="http://bootsnipp.com?page=6">6</a></li>
                        <li><a href="http://bootsnipp.com?page=7">7</a></li>
                        <li><a href="http://bootsnipp.com?page=8">8</a></li>
                        <li><a href="http://bootsnipp.com?page=2" rel="next">&raquo;</a></li>
                    </ul>
                </div>
                <!--container-->
            </div>
        </div>

    </div>
</div>
